<!DOCTYPE html>
<html>
<head>
    <title>The AJAXson 5</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="mount-point" class="container-fluid">
        <h1 class="jumbotron">The AJAXson 5</h1>

        <form>
            <div class="jumbotron">
                <label>What kind of Jackson 5 related gif do you want?</label>
                <input name="tag" id="userInput" type="text" v-model="tagValue"/>
            </div>

            <div class="jumbotron">
                <label>Prove you are not a robot by answering this riddle:</label>

                <input name="riddle" id="riddleQ" type="text" />
                <b>Jacksons are better than 1.</b>
            </div>
           
            <!--
                TODO
                Use some Vue.js magic to keep the input above in sync
                with tagValue over in request-gif.js
            -->
            
            <input
                type="submit"
                value="Get my Gif!"
                class="btn btn-primary"
                @click.prevent="fetchGif(searchQuery)"
            />

            <!--
                @click.prevent is a shorthand for saying
                "add a click event listener, and prevent default"
                It's a Vue.js thing, not something built into JS or HTML
            -->
            

            
                
        </form>

       
        <p id="riddle" v-if="riddle" style="color:red" >
                No Gifs For You!
        </p> 

        <img src="/home/sean/lc101/AJAXson5/the-ajaxson-5/Images/michael-spinner.png" id="loading" v-if="loading" class="img-responsive spin">
            
        
        <img id="gif" class="img-responsive" v-bind:src="imgSrc" v-else-if="imgSrc"/>
              
        <!-- TODO show the user a "Loading..." message if we're currently loading -->
        <p id="feedback" v-if="errorMessage">
            {{ errorMessage }}
        </p>
    </div>
    <script type="text/javascript" src="request-gif.js"></script>
</body>
</html>
